# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.env
db_data/


# Ignore virtual environments
venv/
env/

# Ignore database files
*.sqlite3

# Ignore logs
*.log

# Ignore VS Code settings
.vscode/

# Ignore Mac system files
.DS_Store

# ---------------------------
# Django specific
# ---------------------------
media/              # Uploaded media files
staticfiles/        # Collected static files

# ---------------------------
# Docker specific
# ---------------------------
messaging_app/.env  # Environment variables (database credentials)
