# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore database files
*.sqlite3

# Ignore logs
*.log

# Ignore VS Code settings
.vscode/

# Ignore Mac system files
.DS_Store
